---
import { Image } from "astro:assets";
import Main from "../../layouts/main.astro"
import { getCollection, render } from 'astro:content'
import type { ImageMetadata } from "astro";
export const getStaticPaths = async () => {
  const places = await getCollection('places');
  return places.map(place => ({
    params: { id: place.id },
    props: { place }
  }))
}

const { place } = Astro.props;
const addressEncoded = encodeURI(place.data.address || "");
const { Content } = await render(place);

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/**/*.{png,jpg,jpeg}')
let image = null
if (place.data.image != null) {
  image = images[place.data.image]
}
---
<Main title={place.data.name}>
  <h3>‹ <a href="/coffee-map">Coffee Map</a></h3>
  <h1>{place.data.name}</h1>
  <p><b>📍 {place.data.latitude}, {place.data.longitude}</b></p>
  {place.data.address &&
  <p>{place.data.address}</p>
  <p><a href={`https://maps.apple.com/place?address=${addressEncoded}`}> Show in Maps</a></p>
  }
{image != null && <Image
    src={image()}
    alt=`A photo of ${place.data.name}`
  />}
  <Content />
</Main>
