---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import { render } from "astro:content";
import {format as dateFormat } from "date-fns";
import Main from "../../layouts/main.astro";
import BentoContainer from "../../components/layout/bentoContainer.astro";
import Bento from "../../components/layout/bento.astro";
import Sidebar from "../../components/Sidebar.astro";
import sidebarStyles from "../../components/sidebar.module.css"

export const getStaticPaths = (async () => {
const posts = await getCollection("posts")
  if (posts == null) {
    return []
  }
  return posts.map(post => ({
    params: { slug: post.id },
    props: {
      post,
    }
  }));
}) satisfies GetStaticPaths;
const { post } = Astro.props

const { Content, headings } = await render(post);


const date = dateFormat(post.data.publishedTime || Date.now(), "EEEE, do MMMM yyyy")
const meta = {
  publishedTime: post.data.publishedTime,
  modifiedTime: post.data.modifiedTime,
  authors: post.data.authors,
  tags: post.data.tags,
  excerpt: post.data.excerpt || "",
}

import "../../layouts/page.css"
---

<Main article={meta} title={post.data.title} img={post.data.featureImage || ""} {...Astro.props}>
  <h1>{post.data.title}</h1>
  <BentoContainer>
  <Bento compact>
<p>{date}</p>
{post.data.readingTime > 0 &&
  <p><b>{post.data.readingTime} min read</b></p>}
  </Bento>
    <Bento title="Tags" compact color="#fd98ce">
      <p>{post.data.tags
        .map(t =>
          (<>
            <a href=`/tag/${t}`>#{t}</a>{" "}
          </>))
        }
      </p>
    </Bento>
</BentoContainer>
  {post.data.featureImage &&
<img src={post.data.featureImage} alt={post.data.featureImageAlt || ""} />
  }

{headings.length > 0 && <nav class={sidebarStyles.toc}>
  {headings.map((h) => {
    const style = {
    paddingLeft: `${h.depth * 0.5}rem`,
  }
 return <a href={`#${h.slug}`} style={style}>{h.text}</a> 
  })}
</nav>}
  <Content />
  <Sidebar slot="sidebar" isBlog headings={headings} />
</Main>


