---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import { render } from "astro:content";
import {format as dateFormat } from "date-fns";
import Main from "../../layouts/main.astro";
import BentoContainer from "../../components/layout/bentoContainer.astro";
import Bento from "../../components/layout/bento.astro";
import Sidebar from "../../components/Sidebar.astro";
import sidebarStyles from "../../components/sidebar.module.css"
import { isRemoteImage } from "astro/assets/utils";
import { Image } from "astro:assets";

import "../../layouts/page.css"

export const getStaticPaths = (async () => {
const posts = await getCollection("posts")
  if (posts == null) {
    return []
  }
  return posts.map(post => ({
    params: { slug: post.id },
    props: {
      post,
    }
  }));
}) satisfies GetStaticPaths;
const { post } = Astro.props

const { Content, headings } = await render(post);

const date = dateFormat(post.data.publishedTime || Date.now(), "EEEE, do MMMM yyyy")
const meta = {
  publishedTime: post.data.publishedTime,
  modifiedTime: post.data.modifiedTime,
  authors: post.data.authors,
  tags: post.data.tags,
  excerpt: post.data.excerpt || "",
}
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/img/**/*.{jpeg,jpg,png,gif}')

const resolvePath = (path: string) => {
if (!images[path]) {
  throw new Error(`"${path}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);
}
  return images[path]
}

const featureImage = URL.parse(post.data.featureImage || "")?.host != undefined ?
(post.data.featureImage || "")
:   resolvePath(post.data.featureImage||"")()
---

<Main article={meta} title={post.data.title} img={featureImage} {...Astro.props}>
  <h1>{post.data.title}</h1>
  <BentoContainer>
  <Bento compact>
    <p>{date}</p>
    {post.data.readingTime > 0 &&
    <p><b>{post.data.readingTime} min read</b></p>
    }
  </Bento>
    <Bento title="Tags" compact color="#fd98ce">
      <p>{post.data.tags
        .map(t =>
          (<>
            <a href=`/tag/${t}`>#{t}</a>{" "}
          </>))
        }
      </p>
    </Bento>
</BentoContainer>
  {typeof featureImage === "string" ?
  <Image src={featureImage} alt={post.data.featureImageAlt || ""} inferSize={true} />
  : <Image src={Promise.resolve(featureImage)} alt={post.data.featureImageAlt || ""} inferSize={true} />
  }

{headings.length > 0 && <nav class={sidebarStyles.toc}>
  {headings.map((h) => {
    const style = {
    paddingLeft: `${h.depth * 0.5}rem`,
  }
 return <a href={`#${h.slug}`} style={style}>{h.text}</a> 
  })}
</nav>}
  <Content />
  <Sidebar slot="sidebar" isBlog headings={headings} />
</Main>


