---
// A colourful, rounded box highlighting some content.
import styles from "./layout.module.css";

const {
  wide,
  tall,
  color,
  title,
  image = "",
  fgImg = "",
  fgImgAlt = "",
  noOverlay = false,
  contentToBottom = false,
  contentToRight = false,
} = Astro.props;

const classList = [
  styles.bento,
  wide ? styles.wideBento : "",
  tall ? styles.tallBento : "",
  { "customColor": color },
  { "bgImage": image },
  { "photoBento": noOverlay },
  contentToBottom ? styles.toBottom : "",
  contentToRight ? styles.toRight : "",
];

---

<style define:vars={{ backgroundColor: `#${color}`, image: `url("${image}")` }}>
div.customColor {
  background: var(--backgroundColor);
}
div.bgImage {
  background: var(--image);
  background-size: cover;
  position: relative;
  background-position: center;
}
div.bgImage.customColor {
  background: var(--backgroundColor) var(--image);
  background-size: cover;
  position: relative;
  background-position: center;
}
div.bgImage:not(.photoBento):before {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--var-gradient);
  opacity: 0.4;
  content: ''
}
</style>

<div class:list={classList}>
{fgImg && <img src={fgImg} alt={fgImgAlt}/>}
  <div class={styles.bentoContent}>
    {title && <h3>{title}</h3>}
    <slot />
  </div>
</div>
