---
import type { MarkdownHeading} from "astro"
import type { CollectionEntry } from "astro:content";
import Main from "./main.astro"
import {format as dateFormat } from "date-fns";
import sidebarStyles from "../components/sidebar.module.css"

import Sidebar from "../components/Sidebar.astro";
import Bento from "../components/layout/bento.astro";
import BentoContainer from "../components/layout/bentoContainer.astro";

type Props = {
  children: any;
  post: CollectionEntry<'posts'>;
}

const { title, ...props } = Astro.props.post.data || {}

const date = dateFormat(props.publishedTime || "", "EEEE, do MMMM yyyy")
const meta = {
  publishedTime: props.publishedTime,
  modifiedTime: props.modifiedTime,
  authors: props.authors,
  tags: props.tags,
  excerpt: props.excerpt || "",
}

import "./page.css";
---
<Main article={meta} img={props.featureImage || ""} {...Astro.props}>
  <h1>{title}</h1>
  <BentoContainer>
  <Bento compact>
<p>{date}</p>
<!-- {props.reading_time && -->
<!--   <p><b>{props.reading_time} min read</b></p>} -->
  </Bento>
    <Bento title="Tags" compact color="#fd98ce">
      <p>{props.tags
        .map(t =>
          (<>
            <a href=`/tag/${t}`>#{t}</a>{" "}
          </>))
        }
      </p>
    </Bento>
</BentoContainer>
  {props.featureImage &&
<img src={props.featureImage} alt={props.featureImageAlt || ""} />
  }

<!--   {Astro.props.post.rendered?.metadata?.headings.length > 0 && <nav class={sidebarStyles.toc}> -->
<!--     {Astro.props.headings.map((h) => { -->
<!--       const style = { -->
<!--       paddingLeft: `${h.depth * 0.5}rem`, -->
<!--     } -->
<!-- return <a href={`#${h.slug}`} style={style}>{h.text}</a> -->
<!--     })} -->
<!--   </nav>} -->
  <slot />
  <!-- <Sidebar slot="sidebar" isBlog headings={Astro.props.headings} /> -->
</Main>


