---
import type { GetStaticPaths } from "astro";
import { format as dateFormat } from "date-fns";
import Main from "../../layouts/main.astro";
import BentoContainer from "../../components/layout/bentoContainer.astro";
import Bento from "../../components/layout/bento.astro";
import LinkButton from "../../components/button/LinkButton.astro";
import "./blog.css";
import { getCollection } from "astro:content";
import { getImage } from "astro:assets";
import { isRemoteImage } from "astro/assets/utils";

export const getStaticPaths = (async ({paginate}) => {
  const PostsPerPage = 5
  const posts = (await getCollection("posts")).sort((a,b) => b.data.publishedTime.valueOf() - a.data.publishedTime.valueOf())
  return paginate(posts, { pageSize: PostsPerPage})
}) satisfies GetStaticPaths;

const { page } = Astro.props
const pageID = page.currentPage

const prev = pageID - 1
const next = pageID + 1


---
<Main title="Blog">
  <h1>My posts</h1>
  <p>You can subscribe to receive new posts via email <a href="https://blog.mbell.dev">here</a>.</p>

  <BentoContainer>
    { (page.data||[]).map(async p => {
    const src = isRemoteImage(p.data.featureImage || "") ?
    p.data.featureImage
    : (await getImage({src: p.data.featureImage || "", inferSize: true})).src
    return (
    <Bento title={p.data.title} wide fgImg={src} fgImgAlt={p.data.featureImageAlt || ""}>
      <p>Published: {dateFormat(p.data.publishedTime || "", "yyyy-MM-dd")}</p>
      <p>{p.data.excerpt || ""}</p>
      <p>Reading time: {p.data.readingTime || 0} minutes</p>
      <LinkButton href=`/post/${p.id}`>Read</LinkButton>
    </Bento>
    )
    }) }
  </BentoContainer>

  <nav class="pagination">
    {prev > 1 && <>
    <a href=`/blog/1`>1</a>
    {prev > 2 && "..."}
    </>}
    {prev > 0 && <a href=`/blog/${prev}`>{prev}</a>}
    <a class="current">{pageID}</a>
    {next <= page.lastPage && <a href=`/blog/${next}`>{next}</a>}
    {next < page.lastPage && <>
      {page.lastPage - next > 1 && "..."}
      <a href=`/blog/${page.lastPage}`>{page.lastPage}</a>
    </>}
  </nav>
</Main>
